<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iHungry.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>61F5DF691E2BED6D002F18B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61F5DF801E2BED6D002F18B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>61F5DF8B1E2BED6D002F18B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
